#db-dashboard-component {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80vh;

}
#db-content-container {
    display: flex;
    flex-direction: column;
    background-color: #b8ecce;
    width: 80%; 
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

#db-header {
    font-family: "Alfa Slab One", serif;
    color: #3c6ca8;
    font-weight: 300;
    /* text-align: center; */
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
}


#db-van-info-container {
    display: flex;  
    justify-content: space-between; 
    align-items: stretch; 
    width: 100%; 
}
  
#db-van-list,
#db-map-container {
  flex: 1;  
  min-width: 0; 
}

#db-map-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

@media screen and (max-width: 750px) {
  #db-van-info-container {
    flex-direction: column-reverse; 
}

  #db-van-list,
  #db-map-container {
    width: 100%; 
  }
}