#landing-page-component {
  display:flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #eab2bb;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#lp-content-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

#lp-question-header {
  font-family: "Alfa Slab One", serif;
  color: #3c6ca8;
  font-weight: 300;
  text-align: center;
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
}

#lp-image-container {
  width: 45%;
  max-width: 400px;
  height: auto;
}

#lp-main-content img {
  width: 100%;
  height: auto;
}

#lp-text-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: #3c6ca8;
}

#lp-main-content {
  display: flex;
  flex-direction: row;
}

#lp-get-started-text {
  text-decoration: underline;
  text-decoration-color:#eee060;
  width:fit-content;
}

#lp-get-started-text:visited {
  color: #3c6ca8;
}

@media screen and (max-width: 1024px) {
  #lp-question-header {
    font-size: 4em;
    white-space: wrap;
  }
}

@media screen and (max-width: 600px) {
  #lp-question-header {
    font-size: 2em;
    white-space: wrap;
  }

  #landing-page-component {
    padding: 20px 5px;
    min-height: 100vh;
    overflow: visible;
    justify-content: flex-start;
  }



  #lp-main-content {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  #lp-content-container {
    max-width: 100%;
  }


  #lp-main-content img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
  
  #lp-text-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #3c6ca8;
  }
}